* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'opensauce';
    src: url('assets/fonts/OpenSauceSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'DMSans';
    src: url('assets/fonts/DMSans-Regular.ttf');
}

@font-face {
    font-family: 'DMSans-Bold';
    src: url('assets/fonts/DMSans-Bold.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #292929;
    min-width: 0px;
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    /* max-width: 1440px; */
    margin: 0 auto;
    min-height: 50px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 50%; */
}

#burger-toggle {
    display: none;
}

.burger-btn {
    display: none;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    user-select: none;
}

.burger-btn>span,
.burger-btn>span::before,
.burger-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.burger-btn>span::before {
    content: '';
    top: -8px;
    transition-duration: .25s;
}

.burger-btn>span::after {
    content: '';
    top: 8px;
    transition-duration: .25s;
}

#burger-toggle:checked~.burger-btn>span {
    transform: rotate(45deg);
}

#burger-toggle:checked~.burger-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#burger-toggle:checked~.burger-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#burger-toggle:checked~.menu-list {
    visibility: visible;
    right: 0;
}


.menu-list {
    display: flex;
    padding: 0;
    margin: 10px 0 0 35px;
    list-style: none;
}

.menu-link {
    text-align: center;
    text-decoration: none;
    font-family: 'DMSans';
    font-size: 17px;
    text-transform: uppercase;
    color: #e08805;
    padding: 8px;
}

.menu-link:hover {
    background-color: #242424;
}

.title-container {
    display: flex;
    margin-top: 40px;

}

.leftside {
    margin-left: 25px;
    margin-bottom: 25px;
}

.title-text {
    writing-mode: vertical-lr;
    text-anchor: middle;
    text-align: end;
    transform: rotate(180deg);
    font-family: 'DMSans';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    color: #e08805;

    margin: 0px;
    width: 26px;

}

.profile-name {
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    margin: 0;
    margin-right: 25px;
    margin-left: 15px;
    font-family: opensauce;
    font-size: 100px;
    color: #ffffff;
    z-index: 1;
}

.profile-name>span:first-child {
    padding-bottom: 40px;
}

.profile-picture {
    display: flex;
    height: 350px;

}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 1000px;
    padding-left: 70px;
    margin-top: 30px;
}



.section {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'DMSans';
    font-size: 20px;
    color: #ffffff;
}

.section-title {
    font-family: 'DMSans-Bold';
    font-size: 24px;
    letter-spacing: 2px;
    color: #ff9628;
}

.about,
.contacts {
    width: 1000px;
}

.section-list {
    padding-left: 0px;
    list-style-type: none;
}

.section-list>li {
    padding: 5px;
}

.section-list>li::before {
    content: "> ";
    color: #ff9628;
    font-family: 'DMSans-Bold';
    font-size: 20px;
}

.projects>div,
.languages>div {
    display: flex;
    width: 100%;
}


.projects img {
    width: 30%;
    height: min-content;
    padding-top: 5px;
}

.projects span {
    padding: 5px 20px;
}

.projects span>a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.projects>div {
    margin-top: 20px;
}

.code>pre>code {

    background: linear-gradient(#262626, #292929);
    border-radius: 4px;
    border-left: 3px solid #ff9628;
    page-break-inside: avoid;
    font-size: 14px;
    line-height: 1.2;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 10px;
    margin-top: 5px;
    margin-right: 20px;
    word-wrap: break-word;

}

.languages img {
    width: 150px;
    height: 150px;
}

.contacts-list {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.contacts-list > li {
    padding: 0 20px 10px 35px;
}

.contacts-list > li::before {
    content: "";
    position: absolute;
    margin-left: -35px;
    width: 30px;
    height: 30px; 
    background-size: contain;
}

.contacts-email::before {
    background-image: url("assets/svg/email.svg");  
}

.contacts-discord::before {
    background-image: url("assets/svg/discord.svg");  
}

.contacts-telegram::before {
    background-image: url("assets/svg/telegram.svg");  
}

.contacts-github::before {
    background-image: url("assets/svg/git.svg");  
}

.contacts-location::before {
    background-image: url("assets/svg/loc.svg");  
}

.contacts-list > li > a {
    color: white;
    text-decoration: none;  
}

footer {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    border-top: 3px solid #ff9628;
    margin: 40px 0 0 70px;
    width: 930px;
    height: 80px;
    color: #ffffff;
    font-family: 'DMSans';
    font-size: 18px;
}

@media (max-width: 1000px) {
    .header-container {
        flex-direction: column;
        width: 100vw;
    }

    .profile-picture {
        width: 85vw;
        height: auto;
        align-self: center;
        /* margin-left: 70px; */
    }


    .profile-name {
        font-size: 13.5vw;
    }

    .title-text {
        font-size: 3vw;
        letter-spacing: 3px;
    }

    .main-container {
        margin-left: 5vw;
        align-self: center;
        padding-left: 0;
        width: 90vw;
    }

    footer {
        margin-left: 0;
        width: 90vw;
    }
}

@media (max-width: 768px) {
    .section {
        width: 100%;

    }

    .title-container {
        margin-top: 55px;

    }

    .menu-list {
        display: block;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: -100%;
        margin: 0;
        padding: 50px 0;
        width: 300px;
        background: linear-gradient(90deg, #232323, #292929);
        border-radius: 5px;
        opacity: 99%;
        /* box-shadow: 5px rgba(0, 0, 0, .2); */
        list-style: none;
        text-align: center;
        z-index: 2;
        transition-duration: .15s;
    }

    .menu-link {
        padding: 20px 30px;
        font-size: 18px;
        letter-spacing: 2px;
        width: 300px;

    }

    .burger-btn {
        display: flex;
        z-index: 3;
    }

    .header-menu {
        position: fixed;
        left: 0;
        width: 100%;
        height: 55px;
        background-color: #292929;
        z-index: 2;
    }

    .menu-item {
        padding: 15px;
    }
}

@media (max-width: 428px) {
    .profile-name {
        font-size: 12vw;
    }

    .title-text {
        font-size: 3vw;
        letter-spacing: 2.4px;
    }
    .contacts-list {
        flex-direction: column; 
    }
}